Repository joergbuchwald/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, cmake-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

cmake-format:
  name: Format CMake files
  entry: scripts/hooks/pre-commit-cmake-format.sh
  language: system
  stages:
  - commit
  - manual

add fct for reading fluid compressibility
  MaterialLib/MPL/Utils/GetLiquidCompressibility.cpp
  MaterialLib/MPL/Utils/GetLiquidCompressibility.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, file-extensions

add optional storage
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check

add Sat. Dep. Heat Cond. and water vaporization
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/CreateSaturationDependentHeatConduction.cpp
  MaterialLib/MPL/Properties/CreateSaturationDependentHeatConduction.h
  MaterialLib/MPL/Properties/Properties.h
  MaterialLib/MPL/Properties/SaturationDependentHeatConduction.cpp
  MaterialLib/MPL/Properties/SaturationDependentHeatConduction.h
  MaterialLib/MPL/PropertyType.h
Due: git-diff-check, file-extensions

add water vaporization
  ProcessLib/ThermoRichardsMechanics/CreateThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcessData.h
  ProcessLib/ThermoRichardsMechanics/WaterVaporProperty.cpp
  ProcessLib/ThermoRichardsMechanics/WaterVaporProperty.h
Due: git-diff-check, file-extensions

implementing thermal cond. for medium
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check

Implementation of ThermoRichardsFlow
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/ThermoRichardsFlow/CMakeLists.txt
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/IntegrationPointData.h
  ProcessLib/ThermoRichardsFlow/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcessData.h
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check, file-extensions, cmake-format

Tests
  Tests/Data/ThermoRichardsFlow/PressureDiffusionTemperatureDiffusion.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small.gml
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small_masslumping.prj
  Tests/Data/ThermoRichardsFlow/Richards_2d.gml
  Tests/Data/ThermoRichardsFlow/Richards_2d.vtu
  Tests/Data/ThermoRichardsFlow/Richards_2d_linear.vtu
Due: none

add Ogata Banks linear
  Tests/Data/ThermoRichardsFlow/OgataBanks/OgataBanks_lin.prj
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_bottom_lin.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_left_lin.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_right_lin.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_top_lin.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/mesh.vtu
Due: none

add vapor properties, delete unused variables
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcessData.h
  ProcessLib/ThermoRichardsFlow/WaterVaporProperty.cpp
  ProcessLib/ThermoRichardsFlow/WaterVaporProperty.h
Due: git-diff-check, file-extensions

add richards2d tests
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/HT_OgataBanks_ts_50_t_50000.000000.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks.prj
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks.pvd
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks_lin.prj
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks_ts_0_t_0.000000.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks_ts_1_t_1000.000000.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry.gml
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_bottom.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_bottom_lin.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_left.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_left_lin.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_right.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_right_lin.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_top.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_top_lin.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/mesh.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/mesh_q.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_compare_ogs5.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_large.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small_PID_adaptive_dt.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small_iteration_adaptive_dt.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/Richards_2d.gml
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/Richards_2d.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/flow_fully_saturated.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/flow_fully_saturated_pcs_0_ts_1_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/flow_fully_saturated_pcs_0_ts_2_t_2.000000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/h_us_quad_1000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/ref_t_1600.000000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/ref_t_20000.000000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_10.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_100.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_1000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_1600.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_50.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_500.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/square_1x1.gml
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/square_1x1_quad_1e2.vtu
Due: none

check for correction terms
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

thermal_conductivity can be a medium property as well
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

add OgataBanks benchmark
  Tests/Data/ThermoRichardsFlow/OgataBanks/HT_OgataBanks_ts_50_t_50000.000000.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/OgataBanks.prj
  Tests/Data/ThermoRichardsFlow/OgataBanks/OgataBanks.pvd
  Tests/Data/ThermoRichardsFlow/OgataBanks/OgataBanks_ts_0_t_0.000000.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/OgataBanks_ts_1_t_1000.000000.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry.gml
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_bottom.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_left.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_right.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_top.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/mesh_q.vtu
Due: none

fix specific body force
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/LocalAssemblerInterface.h
Due: git-diff-check, file-extensions

[PL/TRF] FEM; Drop unused includes.
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
Due: git-diff-check

add tests
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  Tests/Data/ThermoRichardsFlow/HT/SimpleSynthetics/PressureDiffusionTemperatureDiffusion.prj
  Tests/Data/ThermoRichardsFlow/HT/SimpleSynthetics/PressureDiffusionTemperatureDiffusion_expected.vtu
Due: git-diff-check

fix correction terms
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

[PL/TRF] Fix gravity vector reading.
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
Due: git-diff-check, file-extensions

add properties
  MaterialLib/MPL/PropertyType.h
Due: git-diff-check

make tests work
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_large.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small_PID_adaptive_dt.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_10.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_100.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_1000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_1600.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_50.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_500.vtu
Due: git-diff-check

modify RF tests
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_large.prj
Due: none

change name of bulk modulus
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

add HeatConduction
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateHeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/CreateHeatConductionSaturation.h
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/HeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/HeatConductionSaturation.h
  MaterialLib/MPL/Properties/Properties.h
Due: git-diff-check, file-extensions

add THm tests
  Tests/Data/ThermoRichardsFlow/HTm/TRF.prj
Due: none

rebase
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
Due: git-diff-check, file-extensions

RM tests: not finished
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
Due: none

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  cmake-format: any of: CMakeLists.txt
