Repository joergbuchwald/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'

add tests to Tests.cmake
  ProcessLib/ThermoRichardsFlow/Tests.cmake
Due: git-diff-check

[T/TRM] HT; add missing MPL properties.
  Tests/Data/ThermoRichardsFlow/HT/SimpleSynthetics/PressureDiffusionTemperatureDiffusion.prj
Due: none

heat conduction model phase->medium
  MaterialLib/MPL/Properties/CreateHeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/HeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/HeatConductionSaturation.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check, file-extensions

delete redunant tests
  Tests/Data/ThermoRichardsFlow/PressureDiffusionTemperatureDiffusion.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small.gml
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small_masslumping.prj
  Tests/Data/ThermoRichardsFlow/Richards_2d.gml
  Tests/Data/ThermoRichardsFlow/Richards_2d.vtu
  Tests/Data/ThermoRichardsFlow/Richards_2d_linear.vtu
Due: none

[PL/TRF] Drop unnecessary extrapolation DOF table.
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
Due: git-diff-check, file-extensions

modify RF tests
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
Due: none

add correction terms
  MaterialLib/MPL/PropertyType.h
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check, file-extensions

delete old sat. dep heat conduction files
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateHeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/CreateHeatConductionSaturation.h
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/HeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/HeatConductionSaturation.h
  MaterialLib/MPL/Properties/Properties.h
Due: git-diff-check, file-extensions

+access to bulk modulus via liquid density
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check, file-extensions

add debugging output
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

add some debugging output
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check

change ip for debug output
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

bugfix rho->rho_LR for liquid compressibility
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check

[PL/TRF] FEM; Drop unused includes.
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
Due: git-diff-check

add OgataBanks benchmark
  Tests/Data/ThermoRichardsFlow/OgataBanks/HT_OgataBanks_ts_50_t_50000.000000.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/OgataBanks.prj
  Tests/Data/ThermoRichardsFlow/OgataBanks/OgataBanks.pvd
  Tests/Data/ThermoRichardsFlow/OgataBanks/OgataBanks_ts_0_t_0.000000.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/OgataBanks_ts_1_t_1000.000000.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry.gml
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_bottom.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_left.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_right.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_top.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/mesh_q.vtu
Due: none

[PL/TRF] Fix gravity vector reading.
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
Due: git-diff-check, file-extensions

Tests
  Tests/Data/ThermoRichardsFlow/PressureDiffusionTemperatureDiffusion.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small.gml
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow_2d_small_masslumping.prj
  Tests/Data/ThermoRichardsFlow/Richards_2d.gml
  Tests/Data/ThermoRichardsFlow/Richards_2d.vtu
  Tests/Data/ThermoRichardsFlow/Richards_2d_linear.vtu
Due: none

fix specific body force
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/LocalAssemblerInterface.h
Due: git-diff-check, file-extensions

add tests
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  Tests/Data/ThermoRichardsFlow/HT/SimpleSynthetics/PressureDiffusionTemperatureDiffusion.prj
  Tests/Data/ThermoRichardsFlow/HT/SimpleSynthetics/PressureDiffusionTemperatureDiffusion_expected.vtu
Due: git-diff-check

Implementation of ThermoRichardsFlow
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/ThermoRichardsFlow/CMakeLists.txt
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/IntegrationPointData.h
  ProcessLib/ThermoRichardsFlow/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcessData.h
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check, file-extensions, cmake-format

change name of bulk modulus
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

add richards2d tests
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/HT_OgataBanks_ts_50_t_50000.000000.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks.prj
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks.pvd
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks_lin.prj
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks_ts_0_t_0.000000.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks_ts_1_t_1000.000000.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry.gml
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_bottom.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_bottom_lin.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_left.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_left_lin.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_right.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_right_lin.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_top.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/geometry_top_lin.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/mesh.vtu
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/mesh_q.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_compare_ogs5.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_large.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small_PID_adaptive_dt.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small_iteration_adaptive_dt.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/Richards_2d.gml
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/Richards_2d.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/flow_fully_saturated.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/flow_fully_saturated_pcs_0_ts_1_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/flow_fully_saturated_pcs_0_ts_2_t_2.000000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/h_us_quad_1000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/ref_t_1600.000000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/ref_t_20000.000000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_10.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_100.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_1000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_1600.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_50.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_500.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/square_1x1.gml
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/square_1x1_quad_1e2.vtu
Due: none

add properties
  MaterialLib/MPL/PropertyType.h
Due: git-diff-check

check for correction terms
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

add HeatConduction
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateHeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/CreateHeatConductionSaturation.h
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/HeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/HeatConductionSaturation.h
  MaterialLib/MPL/Properties/Properties.h
Due: git-diff-check, file-extensions

RM tests: not finished
  Tests/Data/ThermoRichardsFlow/HT/OgataBanks/OgataBanks.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
Due: none

add Ogata Banks linear
  Tests/Data/ThermoRichardsFlow/OgataBanks/OgataBanks_lin.prj
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_bottom_lin.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_left_lin.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_right_lin.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/geometry_top_lin.vtu
  Tests/Data/ThermoRichardsFlow/OgataBanks/mesh.vtu
Due: none

add THm tests
  Tests/Data/ThermoRichardsFlow/HTm/TRF.prj
Due: none

modify RF tests
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_large.prj
Due: none

add vapor properties, delete unused variables
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcessData.h
  ProcessLib/ThermoRichardsFlow/WaterVaporProperty.cpp
  ProcessLib/ThermoRichardsFlow/WaterVaporProperty.h
Due: git-diff-check, file-extensions

fix correction terms
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

make tests work
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_large.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small_PID_adaptive_dt.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_10.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_100.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_1000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_1600.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_50.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/richards_pcs_PID_adaptive_dt_t_500.vtu
Due: git-diff-check
