Repository joergbuchwald/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'

+access to bulk modulus via liquid density
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check, file-extensions

thermal_conductivity can be a medium property as well
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

heat conduction model phase->medium
  MaterialLib/MPL/Properties/CreateHeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/HeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/HeatConductionSaturation.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check, file-extensions

add debugging output
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

change ip for debug output
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

rebase
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
Due: git-diff-check, file-extensions

delete old sat. dep heat conduction files
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateHeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/CreateHeatConductionSaturation.h
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/HeatConductionSaturation.cpp
  MaterialLib/MPL/Properties/HeatConductionSaturation.h
  MaterialLib/MPL/Properties/Properties.h
Due: git-diff-check, file-extensions

replace p<0 by S_L in temperature par of pressure eq
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

add testing files for simplfied mechanics
  Tests/Data/ThermoRichardsFlow/HTm/HT_singleelementts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRiso_sat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRiso_unsat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_sat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_unsat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMiso_sat_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMiso_unsat_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMuni_sat_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMuni_unsat_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/single_cube_bulk.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/single_cube_x0_surface.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/single_cube_x10_surface.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/single_cube_y0_surface.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/single_cube_y10_surface.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/single_cube_z0_surface.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/single_cube_z10_surface.vtu
Due: none

add TH(m) tests
  ProcessLib/ThermoRichardsFlow/Tests.cmake
Due: git-diff-check

rebase adaptions
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
Due: git-diff-check, file-extensions

remove effective porepressure, make bishops effective stress optional
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

remove liquid bulk modulus and bishops effective stress from prj files
  Tests/Data/ThermoRichardsFlow/HT/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow.prj
  Tests/Data/ThermoRichardsFlow/HT/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow_lin.prj
  Tests/Data/ThermoRichardsFlow/HT/SimpleSynthetics/PressureDiffusionTemperatureDiffusion.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_compare_ogs5.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRiso_sat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRiso_unsat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_sat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_unsat.prj
Due: none

use effektive pressure instead of solid_grain_pressure
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  Tests/Data/ThermoRichardsFlow/HT/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_compare_ogs5.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
Due: git-diff-check

cleaning up input files
  Tests/Data/ThermoRichardsFlow/HT/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow.prj
  Tests/Data/ThermoRichardsFlow/HT/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow_lin.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
Due: none

cleaning up source file
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

add alt. expression for storage_p_a_S
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

update project file
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_compare_ogs5.prj
Due: none

delete comments/redundant entries, renaming simpplified mechanics project files
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  Tests/Data/ThermoRichardsFlow/HT/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow.prj
  Tests/Data/ThermoRichardsFlow/HT/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow_lin.prj
  Tests/Data/ThermoRichardsFlow/HT/SimpleSynthetics/PressureDiffusionTemperatureDiffusion.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_compare_ogs5.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRhyd_saturated.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRhyd_unsaturated.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_saturated.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_unsaturated.prj
Due: git-diff-check

add two properties
  MaterialLib/MPL/PropertyType.h
Due: git-diff-check

update copyright
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/IntegrationPointData.h
  ProcessLib/ThermoRichardsFlow/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcessData.h
  ProcessLib/ThermoRichardsFlow/WaterVaporProperty.cpp
  ProcessLib/ThermoRichardsFlow/WaterVaporProperty.h
Due: git-diff-check, file-extensions

add TRF to ProcessesSetup.cmake
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check

add ThermalRichardsFlowProcess
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/ThermoRichardsFlow/CMakeLists.txt
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/IntegrationPointData.h
  ProcessLib/ThermoRichardsFlow/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcessData.h
  ProcessLib/ThermoRichardsFlow/WaterVaporProperty.cpp
  ProcessLib/ThermoRichardsFlow/WaterVaporProperty.h
Due: git-diff-check, file-extensions, cmake-format

delete redundant fct
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

add getDOFTables method
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
Due: git-diff-check, file-extensions

tiny cleanup in prj files
  Tests/Data/ThermoRichardsFlow/HT/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow.prj
  Tests/Data/ThermoRichardsFlow/HT/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow_lin.prj
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_small.prj
Due: none

upate TR* models for simplified mechanics
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMhyd_saturated.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMhyd_unsaturated.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMhyd_unsaturated_bishopstest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMuni_saturated.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMuni_unsaturated.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMuni_unsaturated_bishopstest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRhyd_saturated.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRhyd_unsaturated.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRhyd_unsaturated_bishopstest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_unsaturated_bishopstest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMhyd_sat_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMhyd_unsat_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMhyd_unsaturated_bishopstest_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMiso_unsat_bishopstest_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMuni_unsat_bishopstest_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMuni_unsat_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMuni_unsaturated_bishopstest_ts_10_t_1.000000.vtu
Due: git-diff-check

dS_dp based on time descretization
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/expected_Richards_2D_small_pcs_ts_1100_t_1600.000000.vtu
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/ref_t_1600.000000.vtu
Due: git-diff-check

exp->std::exp
  ProcessLib/ThermoRichardsFlow/WaterVaporProperty.cpp
Due: git-diff-check, file-extensions

correct secant derivative with tangent for p_cap_dot = 0
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check

add two tests for bishops test
  ProcessLib/ThermoRichardsFlow/Tests.cmake
Due: git-diff-check

S_L->chi for mechanics
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMiso_sat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMiso_unsat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMiso_unsat_bishopstest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMuni_sat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMuni_unsat.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMuni_unsat_bishopstest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRhyd_unsaturated_bishoptest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_unsaturated_bishoptest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMiso_unsat_bishopstest_ts_10_t_1.000000.vtu
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/expected_TRMuni_unsat_bishopstest_ts_10_t_1.000000.vtu
Due: git-diff-check

add files for bishopstest
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRMuni_unsat_bishopstest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_unsaturated_bishoptest.prj
Due: none

fix pipeline
  Tests/Data/ThermoRichardsFlow/RichardsFlow2D/RichardsFlow_2d_compare_ogs5.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRhyd_unsaturated_bishopstest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_unsaturated_bishopstest.prj
Due: none

cleanig up/improving comments
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check
